@use '../mixins/hover.scss' as *;
@use '../mixins/responsive.scss' as *;

.button {
    border-radius: 28px;
    background-color: transparent;
    color: #FFFFFF;
    text-align: center;
    padding: 9px 24px 11px 24px;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.75rem;

    @include responsive(desktop) {
        padding-inline: 32px;
        padding-block: 14px;
    }
}

.button--pink {
    background-image: linear-gradient(#ff6f48, #f02aa6);
    width: 167px;

    @include hover {
        background-image: linear-gradient(#ff70485f, #f02aa764);
    }
}

.button--dark {
    background-color: #13183F;

    @include hover {
        background-color: #666CA3;
    }
}

.button__ghost {
    margin: 0;
    padding: 0;
    color: #F74780;
    text-align: left;

    @include hover {
        color: #ffa8c4;
    }
}

.button--purple {
    background-image: linear-gradient(#4851ff, #f02aa6);

    @include hover {
        background-image: linear-gradient(#4851ff6a, #f02aa759);
    }
}