@use '../mixins/responsive.scss' as *;
@use '../mixins/hover.scss' as *;

.button {
    border-radius: 1.75rem;
    background-color: transparent;
    color: var(--color-white);
    text-align: center;
    padding: 9px 24px 11px 24px;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.75rem;

    @include responsive(desktop) {
        padding-inline: 32px;
        padding-block: 14px;
    }
}

.button--dark {
    background-color: var(--color-darkblue);

    @include hover {
        background-color: var(--color-blue);
    }
}

.button--pink {
    background-image: linear-gradient(#ff6f48, #f02aa6);
    width: 10.4375rem;

    @include hover {
        background-image: linear-gradient(#ff70485f, #f02aa764);
    }
}

.button--purple {
    background-image: linear-gradient(#4851ff, #f02aa6);

    @include hover {
        background-image: linear-gradient(#4851ff6a, #f02aa759);
    }
}

.button--ghost {
    margin: 0;
    padding: 0;
    color: var(--color-pink);
    text-align: left;

    @include hover {
        color: var(--color-lightpink);
    }
}