@use '../mixins/responsive.scss' as *;

.card-container {
  display: grid;
  gap: 40px;

  @include responsive(tablet) {
    grid-template-columns: repeat(2, 339px);
    gap: 64px 10px;
    justify-content: center;
  }

  @include responsive(desktop) {
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: repeat(2, 350px);
    gap: 56px 30px;
    justify-content: center;
  }
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 21.4375rem;
  border-radius: 0.625rem;
  background-color: #FFFFFF;
  padding: 64px 32px 40px 32px;
}

.card__logo {
  position: absolute;
  top: -25px;
  width: 56px;
  border-radius: 100%;
}

.card--gradient {
  background-image: linear-gradient(#ff6f48, #f02aa6);
  padding: 24px 29px 32px 28px;

  @include responsive(tablet) {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  @include responsive(desktop) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.card--animation {
  @include responsive(tablet) {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  @include responsive(desktop) {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}

.card--design {
  @include responsive(tablet) {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  @include responsive(desktop) {
    grid-column: 3/4;
    grid-row: 1/2;
  }
}

.card--photography {
  @include responsive(tablet) {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  @include responsive(desktop) {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}

.card--crypto {
  @include responsive(tablet) {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  @include responsive(desktop) {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}

.card--business {
  @include responsive(tablet) {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  @include responsive(desktop) {
    grid-column: 3/4;
    grid-row: 2/3;
  }
}