@use '../mixins/responsive.scss' as *;

.footer {
    background-color: #13183F;
    display: flex;
    padding-inline: 16px;
    padding-block: 36px;
    justify-content: space-between;

    @include responsive(tablet) {
        padding-inline: 40px;
    }

    @include responsive(desktop) {
        padding-inline: 165px;
    }
}

.logo__footer {
    position: relative;
    top: 10px;
}