@use '../mixins/responsive.scss' as *;

.text {
    font-weight: 500;
    font-size: 1rem;
    margin: 0;
    line-height: 26px;
    color: var(--color-grey);
    margin-bottom: 24px;

    @include responsive(tablet) {
        font-size: 1.125rem;
        line-height: 28px;
    }

    @include responsive(desktop) {
        font-size: 1.125rem;
        line-height: 28px;
    }
}

.text-bold {
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0;
    color: var(--color-white);

    @include responsive(desktop) {
        font-size: 2rem;
    }
}