@use '../mixins/responsive.scss' as *;

.title {
    font-weight: 800;
    font-size: 40px;
    color: #13183F;
    margin: 0;

    @include responsive(desktop) {
        font-size: 56px;
    }
}

.subtitle {
    font-weight: 800;
    font-size: 20px;
    margin-block: 0 16px;

    @include responsive(desktop) {
        font-size: 24px;
    }
}